<h1>Zodiac input form</h1>

<form action="http://localhost:3000/zodiacs/create">
  <div><label>Sign</label>
    <input name="sign" type="text">
  </div>

  <div><label>Creature</label>
    <input name="creature" type="text">
  </div>

  <div><label>Fortune</label>
    <input name="fortune" type="text">
  </div>
  <button>Submit</button>
</form>
